<p>Welcome to <%= ENV['SITE_NAME'] %>.</p>

<p>We hope you find what you need in our shop. Feel free to respond to this message if you have any questions.</p>

<p>--The <%= ENV['SITE_NAME'] %> Team<br/>
	<%= ENV['DEFAULT_FROM'] %></p>

<p><%= link_to root_url, root_url %></p>