<% if can? :create, Category %>
<div class="row">
  <div class="large-12 clearfix columns">
    <%= link_to 'New Category', new_category_path, class: 'right tiny radius success button' %>
  </div>
</div>
<% end %>

<% if @categories %>
  <%= render :partial => 'category', :collection => @categories %>
<% end %>