<% if session[:cart_id] %>
  <li><%= link_to 'My Cart', view_cart_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'My Collection', profile_path %></li>
  <li><%= link_to 'Logout', signout_path %></li>
<% else %>
  <li><%= link_to 'Login', new_session_path %></li>
<% end %>
